:root {
	--white: #ffffff;
	--gray: #dce2e8;
	--blue: #0c71c3;
}

nav {
	display: flex;
	align-items: center;
	height: 6rem;

	background: var(--white);
}

nav>div.right {
	margin-left: auto;
}

main {
	min-height: 100%;
	height: fit-content;
	background: var(--blue);
}

footer {
	display: flex;
	align-items: center;
	height: 8rem;

	background: var(--blue);
	color: var(--white);
}

footer>div {
	margin-inline: auto;
}

img {
	object-fit: cover;
}

/*---*/

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;

	color: var(--white);

	margin-inline: auto;
	height: 14rem;
	width: 24rem;
}

.welcome h1 {
	font-size: 2.25rem;
	line-height: 2.5rem;

	margin-bottom: 2rem;
}

.welcome p {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.hero-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

/*---*/
.library-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8rem;

	color: var(--white);
}

.shelf-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 2rem;

	height: 3rem;
}

.library-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	padding: 4rem 0 4rem 0;

	background: var(--white);
}

.library-desc {
	align-self: flex-start;

	width: 30%;
}

.library-desc h2 {
	font-size: 1.875rem;
	line-height: 2.25rem;

	margin-bottom: 2rem;

	text-align: center;
}

/*---*/
.shelf-gallery {
	padding: 4rem 0 4rem 0;
}

.shelf {
	width: 100%
}

.shelf-cell img {
	display: block;
	max-width: 100%;
	max-height: 100%;

	/* dim unselected */
	opacity: 0.7;
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
	transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

.shelf-cell.is-selected img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-filter: none;
	filter: none;
}

.book-details {
	position: absolute;
	width: 100%;
	padding: .5rem;
	bottom: 0;


	background: rgba(0, 0, 0, 0.60);
	color: var(--white)
}

.qr-container {
	height: 24rem;
}
